*{
    box-sizing: border-box;
}
.navbar a {
    color: black;
    text-transform: uppercase;
}
.nav-item a:hover {
    color: darkgreen;
    border-bottom: darkgreen 2px solid;
}

#home{
    background-image: url("../img/hero-1.jpg");
    background-size: cover;
    height: 800px;
    position: relative;
}
.darkoverlay{
    background: linear-gradient(#333,brown);
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    opacity: 0.7;  

}
.center{
    padding-top: 180px;
    padding-left: 250px;
    color: antiquewhite;
    text-align: center;
    
}
a.btns{
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
}
#guide{
    height: 750px;
    background-color: green;
}
#head{
    height: 800px;
    background: url("../img/hero-1.jpg");
    background-attachment: fixed;
}
.box{
    margin-top: -300px;
    height: 250px;
    width: 400px;
    padding: 5px;
    float: right;
    background-color: aliceblue;
    border-radius: 10px;
}
.float::after{
    display: table;
    clear: both;
    content: "";
}
.containers{
    height: 250px;
    width: 1000px;
    margin-left: 380px;
    font-size: large;
    background-color: rgb(168, 148, 148);
    box-shadow: 5px 5px 5px 5px grey;
}
.upcontainer{
    height: 600px;
    width: 1100px;
    margin-left: 400px;
    margin-top: 200px;
    box-shadow: 10px 10px 10px 10px grey;
}
input{
    width: 100%;
    padding: 5px;
}
